{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "94",
          "firefox": "93",
          "safari": "16.4",
          "edge": "94"
        },
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
